@page
@model IndexModel
@using AnperoModels;
@{

    CommonDataModel? _commonData = (CommonDataModel?)ViewData["commonData"];
    var commonData = _commonData ?? new CommonDataModel();
    ViewBag.description = commonData.Desc;
    ViewBag.Title = commonData.Name;

}

<p>@Model.Test()</p>

