AnperoFrontend/.vs/
AnperoFrontend/Anpero.Ultil/obj/
AnperoFrontend/AnperoFrontend/obj/
AnperoFrontend/AnperoModels/obj/
AnperoFrontend/AnperoModels/bin/
AnperoFrontend/AnperoFrontend/bin/
AnperoFrontend/Anpero.Ultil/bin/
AnperoFrontend/AnperoFrontendTests/obj/